{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>nattou movie viewer</title>
        <link rel="stylesheet" href="{% static '/css/base.css' %}">
        <!--css, javascript は　デザイン担当の人のやってもらう-->
    </head>

    <body>
        <header class="site-header">
            <h1>
             <a class = "natto">natto</a>
            </h1>
                    <form action="/nattou/search" method="post">
                         {% csrf_token %}
                         <input type="search" name="search" id="txt" placeholder="映画を探す" class="search_bar">
                         <input type="image" name="submit" class="search_button" src="{% static '/image/検索アイコン.png' %}">
                    </form>
                 <a href="{% url 'nattou:home' %}"><img class = "home" src="{% static '/image/家の無料アイコン.png' %}" alt = "homeへ戻る"></a>
        </header>

        <div class="movie">
                    {% block movieblock %}
                        <div class="container">
                            {% for index, ele in titles.items %}
                            <div class="box">
                                <form action="{% url 'nattou:info' index %}" method="POST">
                                {% csrf_token %}
                                {% if ele.img_url %}
                                    <input type="image" src="{{ base_img_url_ }}{{ ele.img_url }}" name="image_button">
                                {% elif ele.img_url == None %}
                                    <input type="image" src="{% static '/image/default_movie.jpg' %}" name="image_button" style="width: 500px; height: 281px;">
                                {% endif %}
                                </form>
                                <h2>{{ ele.title }}</h2>
                                <h4>
                                    評価値： <big><span class="star5_rating" data-rate="{{ele.rate}}"></span></big>  {{ ele.rate }} <br>
                                    公開日： {{ ele.release_date }} <br>
                                    <a href="{{  ele.youtube_url }}"><img class = "youtube" src="{% static '/image/youtube.png' %}">この映画の紹介映像をみる</a>
                                </h4>
                                <form action="{% url 'nattou:good' index %}" method="POST">
                                {% csrf_token %}
                                <input type="image" src="{% static '/image/Like.png' %}" name="Like" class="img" style="width: 150px; height: 55px;">
                                </form>
                            </div>
                            {% endfor %}
                        </div>
                    {% endblock %}
         </div>

            {% block genre %}
                <h1>近日公開の映画</h1>
                <article>
                    <div class="container">
                        {% for index, ele in movies.items %}
                        <div class="box">
                            <form action="{% url 'nattou:info' index %}" method="POST">
                            {% if ele.img_url %}
                                <input type="image" src="{{ base_img_url_ }}{{ ele.img_url }}" name="image">
                            {% else %}
                                <input type="image" src="{% static '/image/default_movie.jpg' %}" name="image" style="width: 500px; height: 281px;">
                            {% endif %}
                            </form>
                            <h2>{{ ele.title }}</h2>
                            <h4>
                                評価値： <big><span class="star5_rating" data-rate="{{ele.rate}}"></span></big>  {{ ele.rate }} <br>
                                公開日： {{ ele.release_date }}
                            </h4>
                            <a href="{{  ele.youtube_url }}"><img class = "youtube" src="{% static '/image/youtube.png' %}">この映画の紹介映像をみる</a>
                            <form action="{% url 'nattou:good' index %}" method="POST">
                            {% csrf_token %}
                            <input type="image" src="{% static '/image/Like.png' %}" name="like" class="img" style="width: 150px; height: 55px;">
                            </form>
                        </div>
                        {% endfor %}
                    </div>
                </article>
            {% endblock %}

    

        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-app.js"></script>
        <!-- TODO: Add SDKs for Firebase products that you want to use
            https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-analytics.js"></script>
        
        <script>
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        var firebaseConfig = {
            apiKey: "AIzaSyAyiWr8yuKzVq8SvARNkPKpyadZ-tENJ38",
            authDomain: "forward-entity-312403.firebaseapp.com",
            projectId: "forward-entity-312403",
            storageBucket: "forward-entity-312403.appspot.com",
            messagingSenderId: "302208104245",
            appId: "1:302208104245:web:17b2ff2765bba752613e7c",
            measurementId: "G-BD058GNSNK"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
        </script>
    </body>

</html>

<!--基本はこのtemplateを継承元にするべき?-->