<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Regist Page</title>
    </head>
    <body>
        <head></head>
        <h1>まだアカウントが作成されていないようです。</h1>
        <br>
        <h1>ユーザー名、及び、アイコン画像を設定してください</h1>
        <br>
        <form action="{% url 'nattou:home' %}" method="POST">
            {% csrf_token %}
        <ul class="profile_list">
            <li>ユーザー名</li>
            <li><input type="text" class="user_name"　value="好きな名前を入力してくだい" name="user_name"></li>

        </ul>
        <p><input type="submit" value="決定"></p>
        </form>
    </body>
</html>