{% extends "home.html" %}
{% load static %}
<!DOCTYPE html>

{% block movieblock %}
<article>
    <div class="container">
        {% for index, ele in movies.items %}
        <div class="box">
            <form action="{% url 'nattou:info' index">
                {% csrf_token %}
                {% if ele.img_url %}
                <input  type="image" src="{{ base_img_url_ }}{{ ele.img_url }}" name="image_button">
                {% elif ele.img_url == None %}
                <input type="image" src="{% static '/image/default_movie.jpg' %}" name="image_button" style="width: 500px; height: 281px;">
                {% endif %}
            </form>
            <h2>{{ ele.title }}</h2>
            <h4>
                評価値: <big><span class="star5_rating" data-rate="{{ele.rate}}"></span></big> {{ ele.rate }} <br>
                公開日: {{ ele.release_date }}
            </h4>
            <a href="{{ ele.youtube_url }}">この映画の紹介映像をみる</a>
            <form action="{% url 'nattou:good' index %}" method="POST">
                {% csrf_token %}
                <input type="image" src="{% static '/image/Like.png' %}" name="Like" class="img" style="width: 150px; height: 55px;">
            </form>
        </div>
    {% endfor %}
    </div>
</article>
{% endblock %}

{% block genre %}
<h1>類似の作品</h1>
<article>
    <div class="container">
        {% for index, ele in similar.items %}
        <div class="box">
            <form action="{% url 'nattou:info' index %}" method="POST">
                {% csrf_token %}
                {% if ele.img_url %}
                <input type="image" src="{{ base_img_url_ }}{{ ele.img_url }}" name="image">
                {% else %}
                <input type="image" src="{% static '/image/default_movie.jpg' %}" name="image" style="width: 500px; height: 281px;">
                {% endif %}
            </form>
        <h2>{{ ele.title }}</h2>
        <h4>
            評価値: <big><span class="star5_rating" data-rate="{{ele.rate}}"></span></big> {{ ele.rate }} <br>
            公開日: {{ ele.release_date }}
        </h4>
        <a href="{{ ele.youtube_url }}">この映画の紹介映像をみる</a>
        <form action="{% url 'nattou:good' index %}" method="POST">
            {% csrf_token %}
            <input type="image" src="{% static '/image/Like.png' %}" name="Like" class="img" style="width: 150px; height: 55px;">
        </form>
       </div>
       {% endfor %}
    </div>
</article>
{% endblock %}